footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo.png" loading="lazy" width="504" height="120" alt="logo")
        .footer__line
        .footer__brand.font-s-14
          span.color-green CYBER FOX
          br
          | Франшиза компьютерного клуба
      a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") ОБРАТНАЯ СВЯЗЬ
