header.header
  .wrapper
    .header__container
      .header__brand-block
        img.header__logo(src="images/logo.png" loading="lazy" width="504" height="120" alt="logo")
        .header__line
        .header__brand.font-s-14
          span.color-green CYBER FOX
          br
          | Франшиза компьютерного клуба
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") ОБРАТНАЯ СВЯЗЬ
  .header__brand-mobile.font-s-14 Франшиза компьютерного клуба
