section.reasons-section
  .wrapper-reasons
    .reasons-section__container
      img.reasons-section__img-group(src="images/reasons-section-img-group.png" loading="lazy" width="133" height="63" alt="image")
      img.reasons-section__arrow(src="images/reasons-section-arrow.svg" loading="lazy" width="246" height="33" alt="arrow")
      img.reasons-section__logo(src="images/reasons-section-logo.png" loading="lazy" width="343" height="343" alt="logo")
      .reasons-section__box
        span.reasons-section__title
          h2.font-w-b-regular.font-s-65
            | более 
            br.no-br
            | 30%
        span.font-s-32
          | молодых людей Казахстана 
          br
          span.color-green регулярно посещают 
          br
          | компьютерные клубы
      .reasons-section__text.font-s-26 Такая популярность связана с несколькими факторами:
      img.reasons-section__icon(src="images/reasons-section-icon.svg" loading="lazy" width="30" height="23" alt="icon")
      .reasons-section__cards-wrapper
        .swiper-bullet
          .reasons-section__cards.swiper-wrapper
            .reasons-section__card.swiper-slide
              img.reasons-section__card-img(src="images/reasons-section-card-img-1.jpg" loading="lazy" width="282" height="212" alt="image")
              .font-s-22-a Активное развитие <br> киберспорта
            .reasons-section__card.reasons-section__card--secondary.swiper-slide
              img.reasons-section__card-img(src="images/reasons-section-card-img-2.jpg" loading="lazy" width="282" height="212" alt="image")
              .font-s-22-a Разнообразие <br> компьютерных игр
            .reasons-section__card.swiper-slide
              img.reasons-section__card-img(src="images/reasons-section-card-img-3.jpg" loading="lazy" width="282" height="212" alt="image")
              .font-s-22-a Доступ к мощным <br> игровым ПК
            .reasons-section__card.reasons-section__card--secondary.swiper-slide
              img.reasons-section__card-img(src="images/reasons-section-card-img-4.jpg" loading="lazy" width="282" height="212" alt="image")
              .font-s-22-a Сильное комьюнити <br> единомышленников
          .bullet-pagination
