section.start-section
  .wrapper-start
    .start-section__container
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="392" height="393" alt="icon")
      .start-section__box
        img.start-section__box-icon(src="images/start-section-box-icon.svg" loading="lazy" width="93" height="93" alt="icon")
        img.start-section__box-img(src="images/start-section-box-img.png" loading="lazy" width="287" height="281" alt="image")
        h2.start-section__title.font-w-b-regular.font-s-32-a.text-up Как мы поможем вам на старте?
        .swiper-bullet
          .start-section__cards.swiper-wrapper
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Дадим рекомендации по 
                br
                | формированию сильной команды
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Поможем с выбором лучшей 
                br
                | локации и помещения
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Проведем для вас и вашей команды 
                br
                | подробное обучение
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Дадим рекомендации по 
                br
                | приобретению нужного оборудования
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Передадим фирменные 
                br
                | стандарты оказания услуг
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Поможем оформить точку 
                br
                | в фирменном стиле франшизы
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Поможем разработать ценовую 
                br
                | политику для вашего города
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Поделимся рабочими 
                br
                | маркетинговыми инструментами
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Дадим рекомендации 
                br
                | по увеличению среднего чека
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Предоставим фирменные 
                br
                | рекламные материалы
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Подключим к общему 
                br
                | программному обеспечению
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="43" height="43" alt="icon")
              .font-s-18-a
                | Добавим в закрытое 
                br
                | сообщество партнеров сети
          .bullet-pagination
      .start-section__bottom
        .font-w-b-regular.font-s-28 СКАЧАЙТЕ ДОГОВОР
        .font-s-16
          | в котором описаны наши обязанности
          br
          | и условия партнерства
        button.btn.start-section__btn(data-remodal-target="modal-form-agreement") Узнать условия
