section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="392" height="380" alt="image")
      h2.steps-section__title
        span.steps-section__title-mark.font-w-b-regular.font-s-46-a
          | Как мы будем открывать 
          br.no-br
          | ваш клуб?
        .steps-section__title-inner
          .font-w-b-regular.font-s-28-a.color-green.text-up шесть
          .font-s-14-a
            | простых шагов
            br
            | до старта
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="87" height="87" alt="icon")
            .steps-section__card-block
              span.steps-section__card-title.font-w-b-regular.font-s-26-a Шаг 1/6
              .font-s-16 Заключение <br> партнерского договора
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="87" height="87" alt="icon")
            .steps-section__card-block
              span.steps-section__card-title.font-w-b-regular.font-s-26-a Шаг 2/6
              .font-s-16 Аренда помещения <br> и ремонт
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="87" height="87" alt="icon")
            .steps-section__card-block
              span.steps-section__card-title.font-w-b-regular.font-s-26-a Шаг 3/6
              .font-s-16 Доставка и монтаж <br> оборудования и мебели
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="87" height="87" alt="icon")
            .steps-section__card-block
              span.steps-section__card-title.font-w-b-regular.font-s-26-a Шаг 4/6
              .font-s-16 Поиск и обучение <br> персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="87" height="87" alt="icon")
            .steps-section__card-block
              span.steps-section__card-title.font-w-b-regular.font-s-26-a Шаг 5/6
              .font-s-16 Реклама
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="87" height="87" alt="icon")
            .steps-section__card-block
              span.steps-section__card-title.font-w-b-regular.font-s-26-a Шаг 6/6
              .font-s-16 Открытие точки, <br> старт работы
        .bullet-pagination
  //- .wrapper-steps.steps-section__container-2
  //-   .steps-section__card-wrapper
  //-     .wrapper
  //-       .swiper-desktop
  //-         .steps-section__items.swiper-wrapper
  //-           .steps-section__item.swiper-slide
  //-             img.steps-section__item-img(src="images/steps-section-img-1.jpg" loading="lazy" width="580" height="505" alt="image")
  //-           .steps-section__item.swiper-slide
  //-             img.steps-section__item-img(src="images/steps-section-img-1.jpg" loading="lazy" width="580" height="505" alt="image")
  //-           .steps-section__item.swiper-slide
  //-             img.steps-section__item-img(src="images/steps-section-img-1.jpg" loading="lazy" width="580" height="505" alt="image")
  //-           .steps-section__item.swiper-slide
  //-             img.steps-section__item-img(src="images/steps-section-img-1.jpg" loading="lazy" width="580" height="505" alt="image")
  //-           .steps-section__item.swiper-slide
  //-             img.steps-section__item-img(src="images/steps-section-img-1.jpg" loading="lazy" width="580" height="505" alt="image")
  //-           .steps-section__item.swiper-slide
  //-             img.steps-section__item-img(src="images/steps-section-img-1.jpg" loading="lazy" width="580" height="505" alt="image")
  //-         .desktop-pagination
  //-       .swiper-buttons-presentation
  //-         button.button-prev(aria-label="prev")
  //-           img.steps-section__prev-icon(src="images/steps-section-prev-icon.svg" loading="lazy" width="59" height="59" alt="prev")
  //-         button.button-next(aria-label="next")
  //-           img.steps-section__next-icon(src="images/steps-section-prev-icon.svg" loading="lazy" width="59" height="59" alt="next")
