section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-b-regular.font-s-44.text-up
      | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
      br
      | ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-s-28
      | Мы свяжемся с Вами в ближайшее время
    a.btn(href="index.html") Вернуться на главную
