.city-section
  background-image: url('../images/city-section-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-color #000

  &__container
    position relative
    z-index 1
    text-align: center
    padding 20px 0 0
    +above($breakpoints.sm)
      text-align: start
      padding 50px 0
    +above($breakpoints.md)
      padding 90px 0
    +above($breakpoints.xxl)
      padding 120px 0 116px

  &__logo
    width 100px
    height: auto
    margin 0 auto
    +above($breakpoints.sm)
      margin 0
      width 200px
    +above($breakpoints.md)
      width 240px
    +above($breakpoints.xxl)
      width 280px

  &__title
    position relative
    z-index 1
    padding 20px 0 15px
    +above($breakpoints.sm)
      padding 50px 0 30px
    +above($breakpoints.md)
      padding 60px 0 35px
    +above($breakpoints.xxl)
      padding 81px 0 40px
    &:after
      content: "";
      position: absolute;
      z-index: -1;
      background: linear-gradient(90deg, #11ccb2 0%, #0f1110 100%);
      width: 55%;
      height: 1px;
      bottom: 9px;
      left: 67px;
      +above($breakpoints.sm)
        height: 2px;
        left: 0;
        width: 38%;
        bottom: 18px;
      +above($breakpoints.md)
        bottom: 22px;
      +above($breakpoints.xxl)
        bottom: 25px;

  &__bottom
    display: flex
    flex-direction: column-reverse
    align-items: center
    gap: 10px
    margin-top 15px
    +above($breakpoints.sm)
      flex-direction: row
      gap: 12px
      margin-top 30px
    +above($breakpoints.md)
      gap: 16px
      margin-top 40px
    +above($breakpoints.xxl)
      gap: 20px
      margin-top 50px

  &__form,
  &__block
    border-radius: 20px
    +above($breakpoints.sm)
      height: 245px
      border-radius: 25px
    +above($breakpoints.md)
      height: 300px
      border-radius: 30px
    +above($breakpoints.xxl)
      height: 344px
      border-radius: 35px

  &__form
    width 100%
    backdrop-filter: blur(35px);
    background: linear-gradient(0deg, rgba(215, 56, 87, 0.15) 0%, rgba(251, 112, 51, 0.15) 51%, rgba(17, 204, 178, 0.15) 100%);
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    padding 15px 14px
    +above($breakpoints.sm)
      padding 20px 15px
      width 270px
    +above($breakpoints.md)
      padding 30px 20px
      width 300px
    +above($breakpoints.xxl)
      padding 35px 25px 36px
      width 330px

  &__agree-wrapper
    margin-top 5px
    +above($breakpoints.sm)
      margin-top 10px

  &__block
    width 100%
    position relative
    padding: 15px 45px 15px 10px;
    backdrop-filter: blur(35px);
    background: linear-gradient(0deg, rgba(215, 56, 87, 0.15) 0%, rgba(251, 112, 51, 0.15) 51%, rgba(17, 204, 178, 0.15) 100%);
    +above($breakpoints.sm)
      display: flex
      align-items: flex-end
      padding 5px 5px 20px 15px
      width: 155px;
    +above($breakpoints.md)
      padding 5px 5px 30px 20px
      width 200px
    +above($breakpoints.xxl)
      padding: 5px 5px 40px 28px;
      width 236px

  &__block-img
    position: absolute
    width: 70px;
    height: auto;
    top: 4px;
    right: -8px;
    +above($breakpoints.sm)
      width: 110px;
      top: 20px;
      right: -1px;
    +above($breakpoints.md)
      width: 150px;
      top: 20px;
      right: -7px;
    +above($breakpoints.xxl)
      width: 182px;
      top: 25px;
      right: -10px;

  &__img
    width: 250px;
    height: auto;
    margin: 15px 0 0 32px;
    +above($breakpoints.sm)
      margin 0
      position: absolute
      z-index -1
      width: 480px;
      bottom: 0;
      right: -194px;
    +above($breakpoints.md)
      width: 648px;
      right: -220px;
    +above($breakpoints.xxl)
      width 870px
      right: -370px
