.start-section

  &__container
    position relative
    z-index 1
    padding-bottom 50px
    +above($breakpoints.sm)
      padding-bottom 30px
    +above($breakpoints.md)
      padding-bottom 50px
    +above($breakpoints.xxl)
      padding-bottom 90px

  &__img
    position: absolute
    z-index -1
    width: 115px;
    height: auto;
    bottom: 33px;
    left: -41px;
    +above($breakpoints.sm)
      width 192px
      left: 170px
      bottom: 0
    +above($breakpoints.md)
      width: 250px;
      left: 240px;
    +above($breakpoints.xxl)
      width: 392px;
      bottom: -33px;
      left: 237px;

  &__box
    width 100%
    position relative
    background: linear-gradient(38deg, #131313 55.43%, #d73857 179%);
    z-index 1
    border-radius: 15px
    padding 20px 5px 5px
    +above($breakpoints.sm)
      border-radius: 20px
      padding 30px 10px
    +above($breakpoints.md)
      border-radius: 25px
      padding 50px 20px
    +above($breakpoints.xxl)
      border-radius: 30px
      padding 80px 20px
    &:after
      content: ""
      position: absolute
      z-index -1
      background-color #D73857
      height: 90%
      width 10px
      border-radius: 15px 0 0 15px
      top: 50%
      transform: translateY(-50%)
      left: -10px
      +above($breakpoints.sm)
        width 15px
        left: -15px
        border-radius: 20px 0 0 20px
      +above($breakpoints.md)
        width 20px
        left: -20px
        border-radius: 25px 0 0 25px
      +above($breakpoints.xxl)
        width 25px
        left: -25px
        border-radius: 30px 0 0 30px
    &:before
      content: ""
      position: absolute
      background-color #11CCB2
      height: 90%
      width 10px
      border-radius: 15px 0 0 15px
      top: 50%
      transform: translateY(-50%)
      right: -10px
      border-radius: 0 15px 15px 0
      +above($breakpoints.sm)
        width 15px
        right: -15px
        border-radius: 0 20px 20px 0
      +above($breakpoints.md)
        width 20px
        right: -20px
        border-radius: 0 25px 25px 0
      +above($breakpoints.xxl)
        width 25px
        right: -25px
        border-radius: 0 30px 30px 0

  &__box-icon
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -54%)
    width 28px
    height: 28px
    +above($breakpoints.sm)
      width 40px
      height: 40px
    +above($breakpoints.md)
      width 65px
      height: 65px
    +above($breakpoints.xxl)
      width 93px
      height: 93px

  &__box-img
    position: absolute
    width: 50px;
    height: auto;
    top: 0px;
    right: -25px;
    +above($breakpoints.sm)
      width: 145px;
      top: -16px;
      right: -41px;
    +above($breakpoints.md)
      width: 220px;
      top: -20px;
      right: -67px;
    +above($breakpoints.xxl)
      width: 287px;
      top: -26px;
      right: -82px;

  &__title
    text-align: center
    padding-bottom 15px
    +above($breakpoints.sm)
      padding-bottom 20px
    +above($breakpoints.md)
      padding-bottom 25px
    +above($breakpoints.xxl)
      padding-bottom 28px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      justify-content center
      gap: 10px 20px
    +above($breakpoints.md)
      gap: 20px 50px
    +above($breakpoints.xxl)
      gap: 25px 60px

  &__card,
  &__bottom
    text-align: center
    +above($breakpoints.sm)
      text-align: start

  &__card
    position relative
    width 280px !important
    border-radius: 8px
    background-color #F8F8F8
    color: #141414
    padding 15px 5px
    +above($breakpoints.sm)
      border-radius: 10px
      width: 290px !important;
      padding 20px 5px 20px 20px
    +above($breakpoints.md)
      border-radius: 12px
      width: 370px !important;
      padding 25px 5px 25px 25px
    +above($breakpoints.xxl)
      border-radius: 15px
      width 400px !important
      padding 27px 5px 27px 33px

  &__card-icon
    position: absolute
    width 25px
    height: 25px
    top: 5px
    right: 5px
    +above($breakpoints.sm)
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px;
    +above($breakpoints.md)
      width: 40px;
      height: 40px;
      top: 25px;
      right: 20px;
    +above($breakpoints.xxl)
      width: 43px;
      height: 43px;
      top: 29px;
      right: 14px;

  &__bottom
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    margin 20px 0 0
    +above($breakpoints.sm)
      align-items: flex-start
      margin 40px 0 0 420px
    +above($breakpoints.md)
      margin 50px 0 0 578px
    +above($breakpoints.xxl)
      margin 64px 0 0 678px

  &__btn
    width 280px !important
    margin-top 15px
    +above($breakpoints.sm)
      width 220px !important
      margin-top 20px
    +above($breakpoints.md)
      width 260px !important
      margin-top 25px
    +above($breakpoints.xxl)
      width 280px !important
      margin-top 31px
